body {
	padding-left: 20px;
}

#text-input {
	width: 1024px;
}

#posts {
	list-style: none;
}

#posts > li {
	border: 1px solid black;
	width: 600px;
	padding: 10px;
	margin: 10px;
}

.timestamp {
	float: right;
	font-size: 8pt;
	color: red;
}